examples/test/
examples/data/
examples/log_out/
examples/train_out/
examples/1000_log_out/
examples/10000_train_out/
examples/test_eval_out/
examples/test_train_out/
examples/new_train_out/
examples/test_random_tissues/
exampls/best_train_out/
examples/tensorboard/
examples/test_log_out/
examples/best_log_out/
examples/23tissues/
examples/experiments/
examples/test1_train_out/
examples/new_log_out/
examples/test_tissues/
examples/best_train_out



.vscode/