Chromatin2Exp/test/
Chromatin2Exp/data/
Chromatin2Exp/log_out/
Chromatin2Exp/train_out/
Chromatin2Exp/1000_log_out/
Chromatin2Exp/10000_train_out/
Chromatin2Exp/test_eval_out/
Chromatin2Exp/test_train_out/
Chromatin2Exp/new_train_out/
Chromatin2Exp/test_random_tissues/
Chromatin2Exp/best_train_out/
Chromatin2Exp/tensorboard/
Chromatin2Exp/test_log_out/
Chromatin2Exp/best_log_out/
Chromatin2Exp/23tissues/
Chromatin2Exp/experiments/
Chromatin2Exp/test1_train_out/
Chromatin2Exp/new_log_out/
Chromatin2Exp/test_tissues/
Chromatin2Exp/best_train_out
Seq2Exp/
Seq2Chromatin/
.vscode/